.container {
    margin:0;
    padding: 0;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

#title {
    text-decoration: none;
    color: gold;
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 0 0 10px red;
}

#sub-title {
    text-decoration: none;
    color: gold;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0 0 10px red;
}